body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: #000;
	color: #fff;
	font-family: "Calibri", sans-serif; 
}

a {
	color: #555;
}
#hero {
	margin-top: 35px;
	background-image: -moz-linear-gradient(100% 95% 90deg, #000, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#333), to(#000));
}


.btn-success {
	width: 15%;
	min-width: 100px;
	background-image: linear-gradient(to bottom, #00AD1A, #008C15);
}
.navbar-inverse .navbar-inner {
	background-image: -moz-linear-gradient(100% 95% 90deg, #000, #333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#333), to(#000));
}

.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.form-horizontal .controls {
    margin-left: 180px;
    width: 222px;
}

#theForum {
	float: left;
	max-width: 100%;
	min-width: 400px;
	word-wrap: break-word;
	@media (max-width: 777px) {
    	display: none;
	}
}

.control-group {
	max-width: 222px;
}

.pic {
	 height: 250px;
	 display: block;
	 margin-left: auto;
     margin-right: auto;
}

.pic-m {
	 height: 250px;
	 width: 100%;
	 display: block;
	 margin-left: auto;
     margin-right: auto;
}

.picdiv-g {
	background: #a2a2a2;
}

#desc {
	height: 800px;
	width: 100%;
	border: 2px solid #222;
}


.formCol {
	width: 420px;
	display: block;
	float: left;
}


.gridCol {
	margin-left: 20px;
	width: calc(100% - 440px);
	display: block;
	float: left;
}

#gridL {
	height: 300px;
	width: 417px;
	display: block;
	float: left;
	margin: auto;
	margin-bottom: 15px;
	overflow: hidden;
}

#gridR {
	height: 500px;
	width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 15px;
	overflow: hidden;

}

@media (min-width: 840px) {
	#gridLBox, #maplinkL {
   		display: none;
	}
}

@media (max-width: 840px) {
   	.gridCol  {
		display: none;
	}
	.formCol {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
}

.var {
	font-weight: bold;
	font-size: 15pt;
}