#message{
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   text-align: center;
   width: 450px;
}

#floatingCirclesG{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
position:relative;
width:300px;
height:300px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#0F0F0F;
height:55px;
width:55px;
-moz-border-radius:27px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.12s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:27px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.12s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:27px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.12s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:27px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.12s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:27px;
animation-name:f_fadeG;
animation-duration:1.12s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:123px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#frotateG_02{
left:35px;
top:35px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#frotateG_03{
left:123px;
top:0;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#frotateG_04{
right:35px;
top:35px;
-moz-animation-delay:0.84s;
-webkit-animation-delay:0.84s;
-ms-animation-delay:0.84s;
-o-animation-delay:0.84s;
animation-delay:0.84s;
}

#frotateG_05{
right:0;
top:123px;
-moz-animation-delay:0.98s;
-webkit-animation-delay:0.98s;
-ms-animation-delay:0.98s;
-o-animation-delay:0.98s;
animation-delay:0.98s;
}

#frotateG_06{
right:35px;
bottom:35px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#frotateG_07{
left:123px;
bottom:0;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#frotateG_08{
left:35px;
bottom:35px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#C7C7C7}

100%{
background-color:#0F0F0F}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#C7C7C7}

100%{
background-color:#0F0F0F}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#C7C7C7}

100%{
background-color:#0F0F0F}

}

@-o-keyframes f_fadeG{
0%{
background-color:#C7C7C7}

100%{
background-color:#0F0F0F}

}

@keyframes f_fadeG{
0%{
background-color:#C7C7C7}

100%{
background-color:#0F0F0F}

}